# System Configuration
TZ=Europe/Berlin
LOCAL_DNS=
HOST_PORT=25

# Upstream SMTP Configuration
SMTP_SERVER=your_smtp_server
SMTP_PORT=587
SMTP_USER=your_smtp_login
SMTP_PASS=your_smtp_token_here

# Address Rewriting
SENDER_ADDRESS=your_sender_address

# Network Security
POSTFIX_MYNETWORKS=127.0.0.0/8, 10.0.0.0/8, 172.16.0.0/12, 192.168.0.0/16

# Advanced Postfix Configuration
POSTFIX_SMTP_SASL_AUTH_ENABLE=yes
POSTFIX_SMTP_SASL_SECURITY_OPTIONS=noanonymous
POSTFIX_SMTP_TLS_SECURITY_LEVEL=encrypt
POSTFIX_SMTP_TLS_NOTE_STARTTLS_OFFER=yes
POSTFIX_MESSAGE_SIZE_LIMIT=0
POSTFIX_SENDER_CANONICAL_CLASSES=envelope_sender, header_sender
POSTFIX_SMTPD_TLS_SECURITY_LEVEL=may
