# Upstream SMTP Credentials
SMTP_USER=your_smtp_user_here
SMTP_PASS=your_smtp_token_here

# Outbound Relay Configuration
RELAYHOST=your_relay_host_here
RELAYPORT=587

# Address Rewriting
SENDER_ADDRESS=your_sender_address_here

# Network Security
POSTFIX_MYNETWORKS=127.0.0.0/8, 10.0.0.0/8, 172.16.0.0/12, 192.168.0.0/16

# System Configuration
LOCAL_DNS=your_local_dns
TZ=Europe/Berlin
